:root {
  --color-body: white;
  --border: black;
  --brand-primary: #e60019;
  --link-hover: #767676;
  --background-grey: #efefef;
  --linear-gradient-left: #f6f7f8;
  --linear-gradient-right: #d2d2d2;
  --black-to-white: black;
  --white-to-black: white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
ul,
figure,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

figure,
img,
svg {
  display: block;
  pointer-events: none;
}

body {
  position: relative;
  margin: 0;
  padding: 110px 0 5rem;
  overflow-x: hidden;
  font-family: "Feature Flat Text", serif;
  background-color: var(--color-body);
}

body > header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
  border-block: 2px solid var(--border);
  padding: 0.75rem 0.9375rem;
  background: var(--color-body);
}

body > header.sticky {
  position: sticky;
  top: 0;
  z-index: 2000;
  height: auto;
  transform: translateY(0px);
  animation: slideDown 0.25s forwards;
}

.header-content {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.sticky .header-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-link {
  display: block;
  width: 12rem;
  margin-top: 0.125rem;
}

.header-logo {
  width: 100%;
  height: auto;
}

.nav-container {
  display: none;
  height: 22px;
  border-left: 2px solid var(--border);
  padding-left: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}

.sticky .nav-container {
  display: block;
}

.nav-container .nav-list {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.nav-container .nav-list a {
  padding: 4px 8px;
  font-weight: 500;
  font-size: 13px;
  line-height: normal;
  cursor: pointer;
  white-space: nowrap;
}

.nav-container .nav-list a.active {
  font-weight: 700;
}

main {
  max-width: 762px;
  margin: 0 auto;
  padding-top: 2.5rem;
  text-align: center;
}

main img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

main header {
  padding-bottom: 2rem;
}

.article-kicker {
  width: fit-content;
  height: 2.625rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.article-kicker svg {
  width: auto;
  height: 100%;
  max-height: 3.125rem;
}

.article-title {
  padding: 0.25rem 0 0.5rem;
  font-family: "Rolling Stone Slab", serif;
  font-weight: 900;
  font-size: 7rem;
  line-height: 6rem;
  text-transform: uppercase;
}

.article-excerpt {
  padding-bottom: 1.25rem;
  font-family: "Feature Flat Deck", serif;
  font-size: 40px;
  line-height: 42px;
}

.article-excerpt::first-letter {
  font-feature-settings: "swsh";
}

.author {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
}

.author span,
.author .author-link {
  font-weight: 800;
  font-size: 1.4375rem;
  line-height: 1.3125rem;
}

.author-link {
  text-transform: uppercase;
  cursor: pointer;
}

.author-detail-outer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  visibility: hidden;
  width: 12.5rem;
  padding-top: 1rem;
  opacity: 0;
  text-align: left;
  transition: opacity 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.author-details {
  position: relative;
  border: 2px solid var(--border);
  padding: 1.25rem;
  background-color: var(--color-body);
}

.author-details::before {
  content: "";
  position: absolute;
  top: -0.75rem;
  left: 13%;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-width: 2px;
  border-style: solid;
  border-color: var(--border) transparent transparent var(--border);
  background-color: var(--color-body);
  transform: rotate(45deg);
}

.details-title {
  width: 6.25rem;
  font-weight: 800;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
}

.author .nav-list {
  margin-top: 0.75rem;
  border-block: 2px solid var(--border);
  padding-block: 0.75rem;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.22px;
}

.author .nav-list li:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.author .nav-list a {
  display: block;
  padding-block: 0.5rem;
}

time {
  display: block;
  margin: 1rem 0 1.25rem;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.01375rem;
  text-transform: uppercase;
}

.featured-image {
  width: 100%;
  border: 2px solid var(--border);
  overflow: hidden;
  background: var(--background-grey);
  aspect-ratio: 1.5;
}

.featured-image .figure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  opacity: 0;
}

.featured-media .figcaption {
  margin-top: 0.5rem;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.25rem;
  line-height: 1.9375rem;
  letter-spacing: 0.1px;
}

.main-paragraph {
  max-width: 662px;
  margin: 1.75rem auto;
}

.gallery {
  max-width: 662px;
  margin: 0 auto;
}

.slide {
  margin-top: 0.25rem;
  overflow: hidden;
  text-align: start;
}

.slide:not(:last-child) {
  margin-bottom: 5rem;
}

.slide-figure-wrapper {
  width: 100%;
  border: 3px solid var(--border);
  background: var(--linear-gradient-left);
  background-image: linear-gradient(
    90deg,
    var(--linear-gradient-left) 0,
    var(--linear-gradient-right) 20%,
    var(--linear-gradient-left) 40%,
    var(--linear-gradient-left)
  );
  background-size: 200% 100%;
  animation: shimmer 1s infinite ease-in-out;
  aspect-ratio: 1022 / 575;
}

.slide-header {
  display: flex;
  border: 3px solid var(--border);
  border-top: none;
  padding: 16px;
}

.slide-number {
  margin-right: 1rem;
  border-right: 0.25rem solid var(--border);
  padding-right: 0.875rem;
  color: white;
  font-family: "Rolling Stone Slab", serif;
  font-weight: 900;
  font-size: 8.125rem;
  line-height: 6rem;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 3px var(--black-to-white);
}

.slide-title {
  font-family: "Feature Flat Deck", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
}

.slide-subtitle {
  padding-top: 0.25rem;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.6875rem;
}

.slide-description .paragraph {
  margin: 1.25rem 0 1.75rem;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (prefers-color-scheme: dark), .dark-theme {
  :root {
    --color-body: #121212;
    --border: #575757;
    --link-hover: #939191;
    --background-grey: #272727;
    --linear-gradient-left: #212122;
    --linear-gradient-right: #3d3d3d;
    --black-to-white: white;
    --white-to-black: #121212;
  }
}

@media (hover: hover) and (pointer: fine) {
  .author-link:hover {
    color: var(--brand-primary);
    text-decoration: underline currentcolor;
  }

  .author-content-inner:hover .author-detail-outer {
    visibility: visible;
    opacity: 1;
  }

  .author .nav-list a:hover {
    color: var(--link-hover);
  }
}

@media screen and (max-width: 1260px) {
  body > header {
    height: 66px;
  }

  main {
    max-width: 732px;
  }
}

@media screen and (max-width: 1000px) {
  body > header {
    height: 69px;
    padding: 0.75rem 1.5rem;
  }

  body > header.sticky {
    padding: 0.5rem 1.5rem;
  }

  main {
    max-width: 100%;
    padding-top: 1.5rem;
  }

  main header {
    padding: 0 1.5rem 1.75rem;
  }

  .article-title {
    font-size: 4.5rem;
    line-height: 3.875rem;
  }

  .article-excerpt {
    font-size: 24px;
    line-height: 28px;
  }

  .author span,
  .author .author-link {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .author-content-inner:hover .author-detail-outer {
    visibility: hidden;
    opacity: 0;
  }

  .slide-title {
    font-size: 30px;
    line-height: 32px;
  }

  .slide-subtitle {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 70px 0 5rem;
  }

  body > header {
    width: 100%;
    height: auto;
  }

  body > header.sticky {
    padding: 0.5rem;
  }

  .sticky .header-content {
    gap: 1rem;
  }

  .header-link {
    width: 13.75rem;
    margin: 0 auto;
  }

  .sticky .header-link {
    width: 8.4375rem;
    min-width: 8.4375rem;
    margin: 0;
  }

  main header {
    padding: 0 0 1.5rem;
  }

  .article-kicker {
    height: 2.25rem;
  }

  .article-title {
    padding: 0.75rem 1.5rem 0.5rem;
  }

  .article-excerpt {
    padding: 0 3.25rem 0.5rem;
  }

  time {
    margin: 0.25rem 0 1.25rem;
  }

  .featured-media {
    padding: 0 0.5625rem;
  }

  .main-paragraph,
  .gallery {
    max-width: 100%;
    padding-inline: 1.5rem;
  }

  .slide-header {
    display: block;
  }

  .slide-number {
    margin: 0;
    border: none;
    padding: 0 0 0.5rem;
  }

  .slide-subtitle {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
