.article-kicker {
  width: fit-content;
  height: 2.625rem;
  margin-bottom: 1rem;
  margin-inline: auto;
}

.article-kicker svg {
  width: auto;
  height: 100%;
  max-height: 3.125rem;
}

.main-paragraph {
  max-width: 662px;
  margin: 1.75rem auto;
}

.slide-figure-wrapper {
  aspect-ratio: 1022 / 575;
}

.slide-header {
  display: flex;
  border: 3px solid var(--border);
  border-top: none;
  padding: 16px;
}

.slide-number {
  margin-right: 1rem;
  border-right: 0.25rem solid var(--border);
  padding-right: 0.875rem;
}

.slide-subtitle {
  padding-top: 0.25rem;
  font-size: 1.375rem;
  line-height: 1.6875rem;
}

.slide-description .paragraph {
  margin: 1.25rem 0 1.75rem;
}

@media screen and (max-width: 1000px) {
  .slide-title {
    font-size: 30px;
    line-height: 32px;
  }

  .slide-subtitle {
    font-size: 1.125rem;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .article-kicker {
    height: 2.25rem;
  }

  .main-paragraph {
    max-width: 100%;
    padding-inline: 1.5rem;
  }

  .slide-header {
    display: block;
  }

  .slide-number {
    margin: 0;
    border: none;
    padding: 0 0 0.5rem;
  }

  .slide-subtitle {
    font-size: 1.25rem;
    line-height: 1.5625rem;
  }
}
